*{
    margin: 0;
    padding: 0;
}
$color-index:#699A4B;
$gray-header: #FBFBFB;
$gray-footer: #F8F8F8;
$font-san: 'Source Sans Pro', sans-serif;
$font-muli: 'Mulish', sans-serif;
$font-monter: 'Montserrat', sans-serif;

html,body{
    overflow-x: hidden;
}
.color-index{
    color: $color-index !important;
}
.color-text{
    color: #6D6D6D !important;
}
.font14{
    font-size: 14px;
}
.font20{
    font-size: 20px;
}
.font-san{
    font-family: $font-san;
}
.font-muli{
    font-family: $font-muli;
}
.font-monter{
    font-family: $font-monter;
}
.font-bold{
    font-weight: bold;
}
.font-w500{
    font-weight: 500;
}
.font16{
    font-size: 16px;
}
.upper{
    text-transform: uppercase;
}

.font32{
    font-size: 32px !important;
}
.relative{
    position: relative;
}
.hide{
    display: none;
}
.show{
    display: unset;
}



// nav
.deg-bg-nav{
    background-color: white;
    .deg-ctn-nav{
        position: relative;
        &:after {
            content: "";
            height: 1px;
            width: 100%;
            position: absolute;
            bottom: -15px;
            left: 0;
            background-color: #e3dede;
        }
    }
    .navbar-toggler{
        outline: none;
        div{
            width: 24px;
            height: 2px;
            background-color: $color_index !important;
            margin: 6px;
            transition-duration: 0.4s;
        }
        .d2{
            opacity: 1;
        }
    }
    .deg-nav-close{
        .d1{
            transform: rotate(45deg) translate(5px, 5px);
        }
        .d2{
            opacity: 0 !important;
        }
        .d3{
            transform: rotate(-45deg) translate(5px, -5px);
        }
    }
    .deg-nav{
        nav{
            padding: 29px 0px 14px;
        }
        .test-logo{
            max-width: 200px;
            position: absolute;
            bottom: 7px;
        }
        ul{
            li{
                padding-right: 39px;
                a{
                    color: black !important;
                    // font-size: 14px;
                    // font-family: $font-san;

                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 17px;
                    &:hover{
                        color: $color-index !important;
                    }
                    
                }
                
                .test-search{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    &:hover{
                        transform: translateY(-50%) scale(1.08);
                    }
                }
                
            }
            li.active{
                a{
                    color: $color-index !important;

                }
                
            }
        }
    }
    
}
// end

.duan{
    padding-top: 97px;
    padding-bottom: 97px;
    background-color: $gray-header;
    overflow: hidden;
    .row-header{
        padding-top: 50px;
        .deg-block-left-trenghe{
            // padding-right: 40px;
            h4{
                font-size: 44px !important;
            }
        }
        .des-trenghe{
            padding-top: 4px;
            p{
                font-size: 16px;
                line-height: 24px;
                font-style: normal;
                font-weight: normal;
                color: #7A7A7B;
            }
        }
        .header-img-trenghe{
            img{
                transform: translateX(-126px);
            }
        }
    }
}


// show home
.show-home{
    padding-bottom: 192px;
    
    .block-filter{
        background-color: #EDF9E6;
        padding: 18px 25px 0px;
        position: relative;
        top: -37px;
        border-radius: 5px;
        .action{
            display: flex;
            justify-content: space-between;
            .text-left{
                transform: translateY(6px);
            }
            .action-right{
                display: flex;
                .input-group-text{
                    background-color: white;
                    border-right: 0px;
                }
                select{
                        padding-left: 37px; 
                        border-radius: 20px;
                        background-size: auto;
                        background-repeat: no-repeat;
                        background-position : 10% center;
                        font-size: 14px;
                    
                }
            }
        }
    }
}



.home-block{
    margin-top: 30px;
    padding: 3px;
    
    &:hover{
        // box-shadow: inset 0 0 2px green;
        border: 1px solid $color-index;
        box-sizing: border-box;
        cursor: pointer;
    }

    .home-detail{
        padding: 24px 16px 38px !important;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        box-shadow: 0px 0px 15px 0px #dfdfdf;
        .home-des{
            padding-top: 10px;
            font-family: $font-monter;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            color: #616161;
        }
    }
    
}



.banner-contact{
    padding: 80px 0px 0px;
    background-color: $color-index;
    color: white;
    .btn-contact-now{
        width: 150px;
        float: right;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        &:hover{
            transform: translateY(-50%) scale(1.06);
        }
    }
    .img-contact-now{
        position: relative;
        .img-abs{
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}


.footer{
    background-color: $gray-footer;
    padding-top: 153px;
    padding-bottom: 100px;
    .footer-logo{
        max-width: 200px;
        padding-bottom: 12px;
    }
    .footer-contact-icon{
        padding-top: 45px;
        display: flex;
        .ft-bl{
            width: 32px;
        }
    }
    .footer-menu{
        ul{
            padding: 16px 0px 0px !important;
            li{
                list-style: none;
                padding-bottom: 14px;
                a{
                    color: #6D6D6D;
                }
            }
        }
    }
    .register-email{
        padding-top: 16px;
        ::placeholder {
            color: #6D6D6D;
            font-size: 14px;
            font-weight: 500;
            font-family: $font-san;
        }
        input{
            border-radius: 20px;
            width: 210px;
        }
        .btn.btn-cus{
            border-radius: 20px !important;
            background-color: $color-index !important;
            color: white !important;
            padding-left: 20px !important;
            padding-right: 20px !important;
            font-family: $font-monter;
            font-size: 16px;
            font-weight: bold;

            &:hover{
                transform: scale(1.06);
            }
        }
    }

    
}
.copyright{
    background-color: white;
    padding: 7px 0px;
}

//-------------------------------------------------------- resposive-------------------------------------------

@media only screen and (max-width: 767px) { 
    // show home
.show-home{
    .block-filter{
        .action{
            display: unset;
            justify-content: space-between;
            .text-left{
                padding-bottom: 15px;
            }
            
        }
    }
}

}


@media only screen and (max-width: 1023px) { 
    // nav
    .deg-bg-nav{
        .navbar-toggler{
            transform: translateY(4px);
        }
        .deg-nav{
            nav{
                padding: 20px 15px 10px;
            }
            .test-logo{
                max-width: 200px;
                position: relative;
                bottom: unset;
            }
            ul{
                padding: 15px 4px;
                li{
                    padding-right: 39px;
                    a{
                        color: black !important;
                        // font-size: 14px;
                        // font-family: $font-san;

                        font-style: normal;
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 17px;
                        
                    }
                    .test-search{
                        position: relative;
                        top: unset;
                        transform: unset;
                    }
                    
                }
            }
        }
        
    }
    // end

    .banner-contact{
        padding: 80px 0px 0px;
        background-color: $color-index;
        color: white;
        .btn-contact-now{
            width: 150px;
            float: left;
            left: 0;
            position: unset;
            right: unset;
            top: unset;
            transform: unset;
        }
        .img-contact-now{
            position: relative;
            img{
                width: 100%;
            }
            .img-abs{
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
   
}


@media only screen and (max-width: 575px) { 


}



/*// Small devices (landscape phones, 576px and up)*/
// gallaxy5
@media  only screen and (min-width: 568px) and (max-width:666px){ 


}



// ip6 and up
@media  only screen and (min-width: 667px) and (max-width:767px){ 
    
}




/*// Medium devices (tablets, 768px and up)*/
@media  only screen and (min-width: 768px) and (max-width:1023px) { 
    
}




/*// Large devices (desktops, 992px and up)*/
@media  only screen and (min-width: 992px) and (max-width:1199px) {
   
}





/*// Extra large devices (large desktops, 1200px and up)*/
@media  only screen and (min-width: 1200px) { 
/* Code here*/

}

@media (max-height:415px) {

}